
.login {
    width: 100%;
    height: 100%;
    position:relative;
  &__background-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
  }
  &__bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__form-container{
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255 255 255 / 80%);
    padding: 20px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    }   
    &__input-container{
        position:relative;
        height:70px;
        label{
            position:absolute;
            top: -30px;
            left:0;
        }
        input{
            width:100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border:none;
            padding-left:15px;
            height: 30px;
            width: 100%;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        }      
    }
    &__title-container{
        margin-bottom: 40px;
        text-align: center;
    }
    &__container-button{
        text-align: center;
        button{
            width: 100px;
            border:none;
            text-align: center;
            box-shadow: inset 0 0 10px #fff, 0 0 10px #ccc;
            transition: all 0.3s;
            border-radius:6px;
            padding: 5px;
            -webkit-border-radius:6px;
            -moz-border-radius:6px;
            -ms-border-radius:6px;
            -o-border-radius:6px;
            &:hover {
                /* Increase box-shadow on hover */
                box-shadow: inset 0 0 15px #fff, 0 0 15px #ccc;
                /* Move button slightly to create pressed effect */
                transform: translate(0, 2px);
              }
        }
        .white{
            background-color: var(--rc-white);
            color: black;
        }
        .red{
            background-color: var(--rc-red);
            color:var(--rc-white);
        }
        .blue{
            background-color: var(--rc-blue);
            color:var(--rc-white);
        }
        .green{
            background-color: var(--rc-green);
            color:var(--rc-white);
        }
        .orange{
            background-color: var(--rc-orange);
            color:var(--rc-white);
        }
        .yellow{
            background-color: var(--rc-yellow);
            color:var(--rc-white);
        }
    }
}